
{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}  
<header class="masthead" style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Profile</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
                <div class="my-5">
                    <div class="content-section">
                        <div class="media">
                          <img class="rounded-circle account-img" style="height: 150px;width: 150px;" src="{{ profile.image.url }}">
                          <div class="media-body">
                            <h2 class="account-heading">{{ profile.username }}</h2>
                            <p class="text-secondary">{{ profile.email }}</p>
                          </div>
                        </div>
                        
                      </div>
                </div>
                </div>
        </div>
    </div>
    </main>
    
{% endblock %}