{% extends 'base.html' %}
{% block title %}logout{% endblock title %}

{% block body %}
{% load static %}        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="content-section">
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Reset Password</legend>
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
    
                <div class="container md-4 center" >You have been logged out please <a href="/login">login</a> again.</div>
                     
        {% endblock %}